{% include 'nav.html' %}

{% block content %}
<div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md mx-auto">
    <div class="profile-header mb-4">
    </div>
    <div class="profile-details text-center">
        <img src="{{ user.picture.url }}" alt="Profile Picture" class="profile-picture rounded-full mx-auto mb-4 w-32 h-32 object-cover">
        <h2 class="text-xl font-semibold">{{ request.user.username }}</h2>
        <ul class="mt-4 space-y-2">
            {% for event in events %}
            <li class="bg-gray-200 p-2 rounded">{{ event.name }}: {{ event.description }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}