<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <title>Event Registeration</title>
    <style>
    input, textarea, select {
        background-color:rgb(179, 179, 179);
        color: white;
        padding: 8px 20px;
        margin: 1px 0;
        border: none;
        width: 100%;
    }
    </style>
</head>
<body>
    <!-- Content Area -->
    <div id="content">
        <!-- For django template render -->
        {% include block_content %}
    </div>

    <script>
        const spinner = document.createElement("div");
        spinner.className = "spinner border-t-4 border-blue-500 border-solid rounded-full w-8 h-8 animate-spin mx-auto my-4";
        
        document.addEventListener("click", function (event) {
            let link = event.target.closest("a");
            if (!link) return;
            event.preventDefault();
            
            let url = link.href;
            fetch(url, {
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById("content").innerHTML = html;
                // logout is anker link
                if (url.includes("/logout")) {
                        history.replaceState(null, "", "/login");
                } else {
                        history.pushState(null, "", url);
                }
            })
            .catch(error => console.error("Error loading page:", error));
        });

        document.addEventListener("submit", function (event) {
            let form = event.target.closest("form");
            if (!form) return;

            event.preventDefault();

            let url = form.action;
            let formData = new FormData(form);
            console.log(url, formData);

            form.appendChild(spinner);

            fetch(url, {
                method: "POST",
                body: formData,
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => response.text())
            .then(data => {

            try {
                let data = JSON.parse(data);
                document.getElementById("content").innerHTML = data.content;
                history.pushState(null, "", url);
            } catch (error) {
                document.getElementById("content").innerHTML = data;
                // login is submission form
                if (url.includes("/login") || url.includes("/register")) {
                history.replaceState(null, "", "/");
                } else {
                history.pushState(null, "", url);
                }
            }
            })
            .catch(error => {
            console.error("Error submitting form:", error);
            });
        });

        window.onpopstate = function () {
            
            fetch(window.location.pathname, {
                headers: { "X-Requested-With": "XMLHttpRequest" }
            }).then(response => response.text())
            .then(html => document.getElementById("content").innerHTML = html)
            .catch(error => console.error("Error loading page:", error));
        };

    </script>

</body>
</html>
